<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.svg">
    <HomeComponent intro="Welcome to Abracon Parametric Search App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HomeComponent: HelloWorld
  }
}
</script>
