<template>
    <div>
        <h3>Search</h3>
        <hr />
        <AllFilters />
        <hr />

    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import AllFilters from '../components/AllFilters'

export default {
  name: 'Search',
  components: {
    AllFilters
  },
  computed: {
    ...mapState({

    })
  },
  methods: {
    ...mapActions({

    })
  }
}
</script>

<style>

</style>
