<template>
    <div>
        <div>
            <div>
            </div>
        </div>
        <button @click="resetFilters()"> Clear Filters</button>
        <div class="filter-container">
            <select v-for="(filter, index) in allFilters" :key="index" :id="filter.Name" @change="selectFilter(filter.Name, $event)" @click="isRanged($event)"> <!-- @click="isRanged($event)" -->
                <option value=""> {{ filter.DisplayName }} </option>
                <option v-for="value in filter.Values" :key="value.i" :value="value.Value"> {{ value.Name }} </option>
            </select>
        </div>
        <div>

        </div>
    </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'

export default {
  name: 'AllFilters',
  components: {
  },
  data () {
    return {
      searchString: null,
      orderBy: [],
      page: 1, // temp,
      resultsPerPage: 25, // temp
      facetFilters: []
    }
  },
  computed: {
    ...mapState({
      allFilters: state => state.allFilters,
      setRows: state => state.setRows
    }),
    ...mapGetters({
      filterName: 'filterName'

    })
  },
  methods: {
    ...mapActions({
      fetchAllFilters: 'fetchAllFilters',
      fetchAllRows: 'fetchAllRows'
    }),
    sampleSearch (name) {
      const setfilterValue = this.filterName(name)
      return setfilterValue
    },
    selectFilter (filterName, event) {
      const filterValue = event.target.value
      if (filterValue !== '') {
        const filters = this.facetFilters.filter(filter => filter.Name !== filterName)

        this.facetFilters = [...filters]
        this.facetFilters.push({
          Name: filterName,
          CheckedValues: [filterValue]
        })

        this.refresh()
        console.log(this.facetFilters)
      } else {
        const filters = this.facetFilters.filter(filter => filter.Name !== filterName)
        this.facetFilters = [...filters]

        this.refresh()
      }
    },
    refresh () {
      this.fetchAllRows({
        'searchString': '*',
        'facetFilters': this.facetFilters,
        'orderBy': this.orderBy,
        'page': this.page,
        'resultsPerPage': this.resultsPerPage
      })
    },
    resetFilters () {
      this.facetFilters = []
      this.orderBy = []
      this.page = 1

      this.refresh()
    },
    isRanged (e) {
      const filterName = e.target.id
      console.log(filterName)
    }
    // ,
    // setFacetFilters () {
    //     this.facetFilters[{
    //         CheckedValues : this.CheckedValues, //facet
    //         isRanged : this.isRanged, //facet
    //         Min : this.Min, //facet
    //         Max : this.Max, //facet
    //     }]
    // }
  },
  created () {
    this.fetchAllFilters()
  }
}
</script>

<style>

</style>
