<template>
    <div>
        <p  @click="clickme(filterValue.Name)" v-for="(filterValue, index) in filterValues.Values" :key="index">
            {{ filterValue.Name }} ------ {{ filterValue.Count }}
        </p>
    </div>
</template>

<script>
export default {
  name: 'FilterMenu',
  props: {
    filterValues: Object
  },
  methods: {
    clickme: function (name) {
      alert(name)
    }
  }

}
</script>

<style>

</style>
